{% extends "index.html" %}

{% block title %}Альбомы{% endblock %}

{% block content %}
<div class="container">
    <h3>Список:</h3>
    {% if pagination %}{{ pagination.links }}{% endif %}
    {% if albums_data %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ИД</th>
                <th scope="col">Название</th>
                <th scope="col">Обложка</th>
                <th scope="col">Жанр</th>
                <th scope="col">Количество поклонников</th>
                <th scope="col">Дата выхода</th>
                <th scope="col">Исполнитель</th>
            </tr>
        </thead>
    {% for row in albums_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td><a href="{{ url_for('album_view', album_id=row[0]) }}">{{ row[1] }}</a></td>
            <td><img src="{{ row[2] }}" class="img-fluid" alt="{{ row[1] }}"></td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td><strong>{{ row[6] }}</strong></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        Список пуст
    {% endif %}
    {% if pagination %}{{ pagination.links }}{% endif %}
</div>
{% endblock %}